<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        Template now<br>
        Date actuelle : {{ dateActuelleDateTime.format('d/m/Y') }}<br>
        Date actuelle : {{ dateActuelleDateTime | date('d/m/Y') }}
        {{ 'frklfjeisj' | upper }}
    </body>
</html>
