{% extends 'base.html.twig' %}

{% block body %}
    <table border="1">
        {% for value in tab %}
        {# value est un tableau
            tableau associatif qui contient
            les clés "nom" et "prenom"
        #}
        <tr>
            <td>{{ value['nom'] }}</td>
            <td>{{ value['prenom'] }}</td>
        </tr>
        {% endfor %}
    </table>

    Dans deux jours, nous serons le {{ render(controller('AppBundle:Twig:exoRender')) }}
{% endblock %}