<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Test</title>
  </head>
  <body>
    Test.html.twig
      {% if nom is defined %}
          {{ nom }}
      {% endif %}
  </body>
</html>